{% extends 'base_template.html' %}

{% block content %}
<script>
    document.getElementById("cart").className="active";
</script>

    <div class="logo-wrapper">
      <div class="leftshadow"></div>
      <div class="logo">
        <h1>ShopingCart</h1>
      </div>
      <div class="rightshadow"></div>
    </div>

    <div class="clearing"></div>
    <div class="container">
    <div class="page-wrapper">
    <div class="primary-content">
    <div class="panel">

        <div class="content contact-form">
            {% if items %}
                <ul class="shoppingcart">
                    {% for item in items %}
                        {% if item in userItems %}
                        <li style="margin-top:10px;margin-bottom:10px">{{ item.name }} <a href="{% url 'removeItem' item.pk%}"  class="button" style="float:right">Remove</a><br> <font style="font-size:15px">(You already bought this product.Do you want to pay for it again?)</font></li>
                        {% else %}
                        <li style="margin-top:10px;margin-bottom:10px">{{ item.name }} <a href="{% url 'removeItem' item.pk%}"  class="button" style="float:right">Remove</a><br><br><br></li>

                        {% endif %}
                        <hr>
                    {% endfor %}
                </ul>
                <form action="{% url 'bought' %}" method="post">
                    {% csrf_token %}

                    <input type="submit" class="button" value="Buy!"/>
                </form>
            {% else %}
                <p>No items are available.</p>
            {% endif %}
        </div>
      </div>
      </div>
      </div>
      </div>



{% endblock %}
