{% extends 'base_template.html' %}

{% block content %}
    {% if catalog %}
        <H2>
            You're looking at our {{ type }} catalog:
        </H2>
        <form action="{% url 'shoppingcart' %}" method="post">
            {% csrf_token %}
            <div id="checkBoxes">
                {% for item in catalog %}
                    <label><input type=checkbox name="checkbox{{ item.id }}" id="checkbox{{ item.id }}"
                                  value="{{ item.id }}" data-name="{{ item.name }}"/> <a
                            href="{% url 'catalog' type %}{{ item.id }}/">{{ item.name }}</a></label>
                    <BR>
                {% endfor %}
            </div>
            <input type="submit" value="Go to Shopping cart"/>
            <input type="button" value="Compare!" onclick="compare({{ ips }})"/><br>
        </form>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
    <br><br>Petition to compare will be made to the next IPs:<br>
    {% if ips %}
        [
        {% for ip in ips %}
            {{ ip }},
        {% endfor %}
        ]
    {% else %}
        <p>No IPs to make comparison</p>
    {% endif %}

        <div id="comparison">
        </div>
{% endblock %}