{% extends 'base_template.html' %}

{% block content %}
    Se hace la petición de las siguientes IPs:<br>
    {% if ips %}
        [
        {% for ip in ips %}
            {{ ip }},
        {% endfor %}
        ]
    {% endif %}
    {% if items %}
        <form name="formCompare">
  	        {% csrf_token %}
            <p>Selecciona un ítem a comparar:<br>
            {% for item in items %}
                <input type="radio" name="radioItem" value="{{ item.name }}">{{ item.name }}<br>
            {% endfor %}
            <input type="button" value="Compare!" onclick="compare({{ ips }})"/><br>
            </p>
        </form>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
    <div id="comparison">
    </div>
{% endblock %}